<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-show">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">angularProjectPlus</a>
    </div>
    <div class="collapse navbar-collapse navbar-show">
      <ul class="nav navbar-nav">
        <li><a href="http://wuyanwen.cc/">关于我们</a></li>
        <li><a href="http://wuyanwen.cc/">联系我们</a></li>
        <li><a href="http://wuyanwen.cc/">网站地图</a></li>
      </ul>
    </div>
  </div>
</nav>